<h2>Ответы гостей</h2>
<table>
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Праздник</th>
        <th>Действия</th>
    </tr>
    @foreach (var g in Model)
    {
        <tr>
            <td>@g.FirstName @g.LastName</td>
            <td>@g.Email</td>
            <td>@g.Holiday?.Title</td>
            <td>
                <a asp-action="DeleteGuest" asp-route-id="@g.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
