<h2>Праздники</h2>
<a class="btn btn-success mb-3" asp-action="AddHoliday">Добавить праздник</a>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Адрес</th>
            <th>Описание</th>
            <th>Еще подумает</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var h in Model)
        {
            <tr>
                <td>@h.Title</td>
                <td>@h.Date.ToShortDateString()</td>
                <td>@h.Address</td>
                <td>@h.Description</td>
                <td>@h.ThinkingCount человек</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="EditHoliday" asp-route-id="@h.Id">Редактировать</a>
                    <a class="btn btn-sm btn-danger" asp-action="DeleteHoliday" asp-route-id="@h.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
